<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    [(opened)]="isDrawerOpen"
    #drawer
    class="example-sidenav"
    mode="side"
  >
    <div class="example-sidenav-content">
      <mat-list>
        <a [routerLink]="['/dashboard']">
          <mat-list-item> Home </mat-list-item></a
        >
        <a [routerLink]="['/users']"> <mat-list-item> Users </mat-list-item></a>
        <mat-list-item> Students </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
  <app-cmp-header
    (newItemEvent)="toggleDrawer()"
    [title]="title"
  ></app-cmp-header>
  <mat-grid-list cols="2" rowHeight="4:1.8">
    <mat-grid-tile>{{ "upper case" | capitalize }}</mat-grid-tile>
    <mat-grid-tile>{{ "the" }}</mat-grid-tile>
    <mat-grid-tile>{{
      "2021-06-22T05:00:00" | toDate: "DD-MM-YYYY"
    }}</mat-grid-tile>
    <mat-grid-tile>{{
      "2021-06-22T05:00:00" | toDate: "YYYY-DD-MM"
    }}</mat-grid-tile>
  </mat-grid-list>
  <app-footer></app-footer>
</mat-drawer-container>
